.optiondiv{
    display: inline-block;

}
.title{
    color:black;
    text-align: center;
    margin:20px;
    font-weight: bolder;
}

.ECOG{
    color: orangered;
    font-weight: bold;
}

body{
    margin:0;
    font-size:16px;
    background-color: orangered;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    outline: none;
}

.custom-box.hide{

    display: none;
}

.custom-box{
    max-width: 700px;
    background-color: #000000;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
    animation: fadeInRight 1s ease;
}

@keyframes fadeInRight{
    0%{
        transform: translateX(40px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

.custom-box::before,
.custom-box::after{
    content: '';
    clear: both;
    display: table;
}

.Home-box h3{
    font-size: 18px;
    font-weight: 500;
    color:lightgreen;
    margin-bottom: 15px;
    line-height: 25px;
}

.Home-box p{
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 22px;
    color: lightgreen;
    font-weight: 400;
}

.Home-box p span{
    font-weight: 500;
}

.Home-box .btn{

    margin-top:20px ;
}

.btn{
    padding: 15px 45px;
    background-color: orangered;
    color: #000000;
    border: none;
    border-radius: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    transition: opacity 0.15s;
    text-decoration: none;
}

.btn:hover{
    opacity: 0.8;
}

.btn:active{
    opacity: 0.4;
}

.quiz-box .option-container,
.quiz-box .question-text,
.quiz-box .question-number,
.quiz-box .question-btn,
.quiz-box .answers-indicator{
    width: 100%;
    float: left;
}
.quiz-box .question-number{
    font-size: 18px;
    color: orangered;
    font-weight: 600;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
    line-height: 25px;
}
.quiz-box .question-text{
    font-size: 22px;
    color:lightgreen;
    line-height: 28px;
    font-weight: 400;
    padding: 20px 0;
    margin: 0;
}

.quiz-box .question-text img{
    max-width: 100%;
    display: block;
    margin-top: 15px;
}

.quiz-box .option-container .option{
    background-color: #cccccc;
    padding: 15px;
    font-size: 16px;
    line-height: 22px;
    color:#000000;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    text-transform: capitalize;
    opacity: 0;
    animation: fadeIn 0.3s ease forwards;
    position: relative;
    overflow: hidden;
}

.quiz-box .option-container .option.already-answered{
    pointer-events: none;
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.quiz-box .btn{
    margin: 15px 0;
}

.quiz-box .option-container .option.correct::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: green;
    z-index: -1;
    animation: slideInLeft .5s ease forwards;
}

.quiz-box .option-container .option.wrong::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: red;
    z-index: -1;
    animation: slideInLeft .5s ease forwards;
}

.quiz-box .option-container .option.wrong{
    color: #ffffff;
}

@keyframes slideInLeft{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}

.quiz-box .option-container .option.correct{
    color: #ffffff;
}

.quiz-box .answers-indicator{

    border-top: 1px solid #cccccc;
}

.quiz-box .answers-indicator div{
    height: 40px;
    width: 40px;
    display: inline-block;
    background-color: #cccccc;
    border-radius: 50%;
    margin-right: 3px;
    margin-top: 10px;
}

.quiz-box .answers-indicator div.correct{

    background-color: green;
}
.quiz-box .answers-indicator div.wrong{

    background-color: red;
}

.result-box{
    text-align: center;
}

.result-box.hide{

    display: none;
}

.result-box h1{

    font-size: 36px;
    line-height: 42px;
    color: orangered;
}
.result-box table{

    width: 100%;
    border-collapse: collapse;
    margin: 30px 0;
}

.result-box table td{

    border: 1px solid #cccccc;
    padding: 8px 15px;
    font-weight: 500;
    color: lightgreen;
    width: 50%;
    text-align: left;
    font-size: 18px;;
}
.result-box .btn{

    margin-right: 20px;
}
